.Anchor{
  color: rgb(255, 255, 255);
  font-family: 'Aptos Narrow', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
button{
  border: -5mm;
  border-style: double;
  outline-width: 1mm;
  outline-style: double;
}

.Headings{
  font-style: Narrow;
  font-family: Aptos Narrow;
  font-weight: 100;
  font-variant: initial;
  font-size: normal;
}

p{
  font-family:'Aptos Narrow', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Aptos Narrow;
}

body{
  background-color: white;
}

button{
  color: blue;
  background-color: blue;

}
    
