.Anchor{
  color: rgb(255, 255, 255);
  font-family: Aptos Narrow;
}
button{
  border-style: dotted;
  outline-width: 1mm;
  outline-style: double;
  width: 100px;
  height: 50px;
  border-radius: 30px;
  background-color: #f1316b;
  color: #eb4034;
  margin-top: 45px;
  border:none;
}

.Headings{
  font-style: Narrow;
  font-family: Aptos Narrow;
  font-weight: 100;
  font-variant: initial;
  font-size: normal;
}

p{
  font-family:'Aptos Narrow', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Aptos Narrow;
}

body{
  background-color: white;
}

button{
  color: blue;
  background-color: blue;

}

body{
  background-color: rgb(237, 234, 222);
}
    
